<nav>
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="home">Home</a>
    <a href="account">Account</a>
    <a href="weight">Tracker</a>
    <button class="dropdown-btn">Calculators</button>
    <div class="dropdown-container">
      <a href="bodyfat">Body Fat</a>
      <a href="bmi">BMI</a>
      <a href="weight#CaloriesCalc">Calories</a>
    </div>
    <a href="about">About</a>
    <a href="about#contactarea">Contact</a>
    <a href="/">Logout</a>
  </div>
</nav>

<script>
  var dropdown = document.getElementsByClassName("dropdown-btn");
  var i;
  
  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
    dropdownContent.style.display = "none";
    } else {
    dropdownContent.style.display = "block";
    }
    });
  }
</script>
