<head>
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
<body>
          <div id="main" style="text-align: center; font-size: 30px;">
            <span style="cursor:pointer; float: left;" onclick="openNav()">&#9776;</span>
            <b style="color: cornflowerblue; font-family: Raleway; font-size: 50px; font-weight: bolder;">WeightMate</b>
          </div>
          
          <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
                document.getElementById("chartBackground").style.marginLeft = "550px";
                document.getElementById("chartBackground").style.filter = "brightness(60%)";
                document.getElementById("outer-div").style.filter = "brightness(60%)";
                document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            }
            
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft= "0";
                document.getElementById("chartBackground").style.marginLeft = "400px";
                document.getElementById("chartBackground").style.filter = "brightness(100%)";
                document.getElementById("outer-div").style.filter = "brightness(100%)";
                document.body.style.backgroundColor = "white";
            }
          </script>
          
    <br>
    <div id = "calcContainer">
    <div id="chartContainer">
      <canvas id="myChart"></canvas>
    </div>

  <script>
    var decodedJson = decodeURIComponent("{{{encodedBFP}}}");
    var BFPs = JSON.parse(decodedJson);
    
    var BFPvalues =BFPs.map(element => element.value);
    var BFPdatetemp =BFPs.map(element => element.date);
    var BFPdate = [];

    BFPdatetemp.forEach(function (item) {
      BFPdate.push(item.substring(0,10));
    })
</script>

  <script>
    var CHART = document.getElementById("myChart").getContext('2d');

    var linechart = new Chart(CHART, {
      type: 'line',
      data: {
        labels: BFPdate,
        datasets: [{
          label : "Body Fat",
          fill : false,
          backgroundColor : "rgba(75, 192, 192, 0.4)",
          borderColor: "cornflowerblue",
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 7,
          pointHoverRadius: 9,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 3,
          pointRadius: 1,
          data: BFPvalues

        }],
      },
      options:{}
    }) 
  </script>
  
      
        <div id="outer-div" width="50%">
            <div id="inner-div" >
              <div align="center">
                <h1>Calculate your Body Fat</h1>
                <p id="note">*Note all measurements are circumferences of the assigned body part in inches.</p>
                <p id="note">*Formulas depend on your sex and age.</p>
              </div>
              <form action="/saveBFP" method="POST"><div style="margin:0px; padding:0px">
                <div align="center">
                  <label>Abdomen: </label>
                  <input style="margin-left: 50px;" type="number" placeholder="In inches" name="adbdomen" id="abdomen" maxlength="20" required/>
                </div>
                <div align="center">
                  <label id="dependent1"></label>
                  <input id="dependent1txt" type="number" placeholder="In inches" name="dependent1" maxlength="20" required/>
                </div>
                <div align="center">
                  <label id="dependent2"></label>
                  <input id="dependent2txt" type="number" placeholder="In inches" name="dependent2" maxlength="20" required/>
                </div>
                
                  <div>
                    <br>
                    <label for="exercise">Have you atleast exercised for 4 hours in a week? </label>
                    <input type="radio" id="Yes" name="exercise" value="Yes" required>
                    <label for="Yes">Yes</label>
                    <input type="radio" id="No" name="exercise" value="No">
                    <label for="No">No</label>
                  </div>

                  {{#if_eq sex 'male'}}
                        {{#iff age '<' 27}}
                          <script>
                            /*To be changed depending on user's age and gender*/
                            document.getElementById("dependent1").innerHTML = "Upper Arm: ";
                            document.getElementById("dependent2").innerHTML = "Forearm : ";
                            document.getElementById("dependent1txt").style.marginLeft = "43px"
                            document.getElementById("dependent2txt").style.marginLeft = "58px"
                            function computeBFP(){
                              var abdomen = parseFloat(document.getElementById("abdomen").value);
                              var dependent1 = parseFloat(document.getElementById("dependent1txt").value);
                              var dependent2 = parseFloat(document.getElementById("dependent2txt").value);
                              var BFP = parseFloat((abdomen*1.31) + (dependent1*3.70) - (dependent2*5.43) - 10.2);
                              document.getElementById("BFP").value = BFP.toFixed(2);
                            } 
                        </script>
                      {{/iff}}
                      {{#iff age '>'  27}}
                          <script>
                            /*To be changed depending on user's age and gender*/
                            document.getElementById("dependent1").innerHTML = "Buttock: ";
                            document.getElementById("dependent2").innerHTML = "Forearm: ";
                            document.getElementById("dependent1txt").style.marginLeft = "67px"
                            document.getElementById("dependent2txt").style.marginLeft = "60px"
                            function computeBFP(){
                              var abdomen = parseFloat(document.getElementById("abdomen").value);
                              var dependent1 = parseFloat(document.getElementById("dependent1txt").value);
                              var dependent2 = parseFloat(document.getElementById("dependent2txt").value);
                              var BFP = parseFloat((abdomen*0.9) + (dependent1*1.05) - (dependent2*3.00) - 15.0);
                              document.getElementById("BFP").value = BFP.toFixed(2);
                            } 
                            </script>
                      {{/iff}}
                  {{else}}
                      {{#iff age '<' 26}}
                              <script>
                                /*To be changed depending on user's age and gender*/
                                document.getElementById("dependent1").innerHTML = "Thigh: ";
                                document.getElementById("dependent2").innerHTML = "Forearm : ";
                                document.getElementById("dependent1txt").style.marginLeft = "80px"
                                document.getElementById("dependent2txt").style.marginLeft = "58px"
                                function computeBFP(){
                                  var abdomen = parseFloat(document.getElementById("abdomen").value);
                                  var dependent1 = parseFloat(document.getElementById("dependent1txt").value);
                                  var dependent2 = parseFloat(document.getElementById("dependent2txt").value);
                                  var BFP = parseFloat((abdomen*1.34) + (dependent1*2.08) - (dependent2*4.31) - 19.6);
                                  document.getElementById("BFP").value = BFP.toFixed(2);
                                } 
                            </script>
                          {{/iff}}
                          {{#iff age '>' 26}}
                              <script>
                                /*To be changed depending on user's age and gender*/
                                document.getElementById("dependent1").innerHTML = "Thigh: ";
                                document.getElementById("dependent2").innerHTML = "Calf: ";
                                document.getElementById("dependent1txt").style.marginLeft = "80px"
                                document.getElementById("dependent2txt").style.marginLeft = "94px"
                                function computeBFP(){
                                  var abdomen = parseFloat(document.getElementById("abdomen").value);
                                  var dependent1 = parseFloat(document.getElementById("dependent1txt").value);
                                  var dependent2 = parseFloat(document.getElementById("dependent2txt").value);
                                  var BFP = parseFloat((abdomen*1.19) + (dependent1*1.24) - (dependent2*1.45) - 18.4);
                                  document.getElementById("BFP").value = BFP.toFixed(2);
                                } 
                                </script>
                          {{/iff}}
                  {{/if_eq}}  
                <br>
                <div align="center">
                  <label >Body Fat Percentage: </label>
                  <input type="text" name="BFP" id="BFP" value="" readonly="readonly" />
                  <label >%</label>
                </div> 
                <br>
                <div align="center">
                  <input type="button" value="Calculate" name="Calculate" id="Calculate" class="btn btn-info" onclick="computeBFP()">
                  <input type="reset" value="Reset" name="reset" id="reset" class="btn btn-warning">
                  <button type="submit" value="Save" name="save" id="save" class="btn btn-success">Save</button>
                </div> 
              </form>
            </div>
        </div>
        </div>   
</body>    