
<form action="/" method = "POST" class = "login">


  <body>
    <div id="mainhome">
     
      <div>
        <span><b style="color: white; font-size: 50px; text-align: left; margin-left: 0px; text-shadow: 4px 2px black;"><i>WeightMate</i></b></span>
        <span style="color: white; font-size:18px; text-shadow: 4px 2px black;"><b>The Tracker that Cares.~</b></span>
      </div>
    
    </div >

  <div class="img">
    <img src="https://i.ibb.co/gS3KyCy/person-outline.png" alt = "Avatar" class = "avatar">  
  </div>

  
    
    <div class="container">
    <p></p>
    <label for = "email"> <b>Email</b> </label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>
    <p></p>
    <label for = "password"><b>Password</b></label>
    <input type = "password" placeholder="Enter Password" name="password" id="password" required>
    <p></p>
    <button type = "submit">Login</button>
    <label>
      <input type = "checkbox" name= "remember"> Remember me
    </label>
  </div>

  <div style="background-color:#f1f1f1">
    <button type = "reset" class="cancelbtn">Cancel</button>
    <span class = "psw">Don't have an account? <a href="/register">Sign up!</a></span>
  </div>
  

</form>
